.stats {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__title {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		margin: 10px 0px 16px;
	}

	&__responsive {
		overflow-x: auto;
		border-radius: 10px;
		margin-bottom: 24px;
	}

	&__table {
		width: 100%;
		border-collapse: collapse;
	}

	&__thead {
		color: #fff;
		background: #3a80ba;

		tr {
			th {
				text-align: left;
				padding: 14px;
				border-left: 1px solid #fff;
				font-weight: normal;

				&:first-child {
					border-left: 0px;
				}
			}
		}
	}

	&__tbody {
		tr {
			td {
				text-align: left;
				padding: 6px 14px;
				border-left: 1px solid #fff;
				font-weight: normal;

				&:first-child {
					border-left: 0px;
				}
			}
		}
		tr:nth-child(odd) {
			background: #fbfbfb;
		}
		tr:nth-child(even) {
			background: #f1f1f1;
		}
	}
}
